*{
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #000;
}

body {
	margin: 50px auto;
	text-align: center;
	background-image: url(./oss.png);
}
.content{
	
}
.serch{
	border-radius: 50%;
}
input {
	border-radius: 50%;
	width: 500px;
	height: 40px;
	background: transparent;
}
